body {
    padding: 1em;
}

#pieces {
    max-height: 800px;
    overflow-y: auto;
}

#tableMain div {
    background-color: #ddd;
    position: absolute;
    border-color: #fff;
    border-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
}

#pieces canvas {
    margin-left: 5px;
}

#you_win,
#not_exactly {
    position: absolute;
    left: 20%;
    top: 10%;
}